Flask==2.3.3
Werkzeug==3.0.1
Jinja2==3.1.3
MarkupSafe==2.1.5
itsdangerous==2.1.2
click==8.1.7
importlib-metadata==7.1.0
zipp==3.18.1
arm-mango==1.4.3
attrdict==2.0.1
numpy==1.26.4
scikit-learn==1.4.0
joblib==1.3.2
scipy==1.12.0
tqdm==4.66.2
six==1.16.0
threadpoolctl==3.4.0
boto3==1.34.71
botocore==1.34.71
jmespath==1.0.1
s3transfer==0.10.1
python-dateutil==2.9.0
urllib3==1.26.18
pandas==2.2.1
pytz==2024.1
tzdata==2024.1
