<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="https://tt-econ.github.io/assets/images/tt.png">
    <!-- If no favicon -> Need to suppress request for favicon.ico below to avoid 403 error -->
    <!-- <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="> -->

    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    -->
    <!-- Static folder is not accessible by AWS Lambda, the content is saved as a Python variable instead -->
    {{ css_style }}
</head>

<body>
    <form id="survey-form" method="POST" action="{{ redirect_url }}">
        <div class="question-box">
            <p class="question-text">Question {{ question_number }} of {{ nquestions }}:</p>
            <p>The two options below are identical in all aspects except those that are displayed. Which option do you prefer?</p>
            <div class="options">
                {% for answer_val in answer_values %}
                <label class="radio-container">
                    <input type="radio" name="answer" value="{{ answer_val }}">
                    <span class="radio-checkmark">{{ output_design['message_' ~ answer_val ~ '_survey'] | safe }}</span>
                </label>
                {% endfor %}
            </div>
            <button id="next-button" type="submit" disabled>&rarr;</button>
        </div>
        {% for key, value in inputs.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const radioButtons = document.querySelectorAll('input[type="radio"]');
            const nextButton = document.getElementById('next-button');
            let formSubmitted = false;
            nextButton.addEventListener('click', function () {
                if (!formSubmitted) {
                    formSubmitted = true;
                    nextButton.innerHTML = 'Submitting...';
                    document.getElementById('survey-form').submit();
                }
            });
            radioButtons.forEach(radioButton => {
                radioButton.addEventListener('change', function () {
                    nextButton.style.display = 'block';
                    nextButton.disabled = false;
                });
            });
        });

    </script>
</body>

</html>
